<!-- Start Ads Cards -->
<div class="col-md-3">
    <div  class="col-md-11">
  <div class="card shadow">
      <img class="img-fluid" src="public/static/images/cover.png" style="margin:12px;" width="250px" height="200px">
      <img class="img-fluid" src="public/static/images/cover.png" style="margin:12px;" width="250px" height="200px">
      <img class="img-fluid" src="public/static/images/cover.png" style="margin:12px;" width="250px" height="200px">
      <img class="img-fluid" src="public/static/images/cover.png" style="margin:12px;" width="250px" height="200px">
  </div>
</div>
</div>