
<!-- Start Dump Cards -->
<div class="" style="margin-top:100px; margin-left:50px; margin-right:100px;">
    <div class="row">
      <div class="col-md-12">
        {{ message | raw}}
         <div class="card shadow">
              <div class="row">
                  <div  class="col-md-6">
                      <h2 style="margin:20px;">Welcome to stuDUMP</h2>
                  </div>
  
                  
  
                      <div class="col-md-6">
                      
                              <ul class="nav nav-footer justify-content-center justify-content-lg-end" style="margin:20px;">
  
              
                               
                                  <li class="nav-item" style="padding-top:7px;">
                                           <input style="outline:none;" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                                  </li>
                          
                              
  
                                  <li class="nav-item" style="padding-top:7px;">
                                      <a href="https://facebook.com/myblogpay" class="nav-link" target="_blank">
                                          <i class="fab fa-instagram"></i>
                                      
                                      </a>
                                  </li>
  
                                  <li class="nav-item" style="padding-top:7px;">
                                      <a href="https://facebook.com/myblogpay" class="nav-link" target="_blank">
                                          <i class="fab fa-facebook-f"></i>
                                      
                                      </a>
                                  </li>
  
                                  <li class="nav-item" style="padding-top:7px;">
                                      <a href="https://twitter.com/myblogpay" class="nav-link" target="_blank">
                                          <i class="fab fa-twitter"></i>
                                      
                                      </a>
                                  </li>
  
                                  <li class="nav-item" style="padding-top:7px;">
                                      <a href="https://twitter.com/myblogpay" class="nav-link" target="_blank">
                                          <i class="fab fa-whatsapp"></i>
                                      
                                      </a>
                                  </li>
                              </ul>
                          </div>
  
              </div>       
      </div>
      </div>
      </div>
      </div>
      </div>
      <!-- End Dump Cards -->  