
<!-- Start Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#20c997;">
    <div class="container">
        <a class="navbar-brand" href="index.php" style="color:#fff;"><strong>stuDUMP</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="../../assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav ml-lg-auto">

        <!-- Start search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative input-group-merge">
                             <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-search"></i></span>
                             </div>
                                 <input class="form-control" placeholder="Search" type="text">
                        </div>
                    </div>
                    <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                     <span aria-hidden="true">×</span>
                         </button>
            </form>
        <!-- End Search form-->

                 <!-- Button trigger modal -->
                            <button type="button" class="btn btn-default" style="border-radius:50px;" data-toggle="modal" data-target="#exampleModalLong">
                            Add Dump
                            </button><br>


                         <!-- Button trigger modal-2 -->
                            <button type="button" class="btn btn-default" style="border-radius:50px;" data-toggle="modal" data-target="#aboutstuDUMP">
                            About
                            </button>
                            
                            <a href="index.php">
                                <div class="icon icon-shape">
                                    <i class="fas fa-running"></i>
                                  </div>
                            </a>


                           

            </ul>
            
        </div>
    </div>
</nav>
<!-- End Top Navbar -->